body{
background-color:  #A5AEB2;

}
.dropdownmenu{

margin:0px;
padding:0px;

}

.dropmenu{

	margin:0px;
	padding:0px;
}

.dropmenu li{
margin:10px;
width:100px;
list-style:none;
float:left;

}

.dropmenu li a{

	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

.dropmenu li a:hover{
	color:red;
	background-color: white;
}

