
/*main section for navigationbar*/
.navmain{
	height:70px;
	width:930px;
	margin:0px auto;
	background-color: #fff;
	

}


/*logo plus dropdown menu*/
.navmain .logobar{

	height:70px;
	width:930px;
	margin-left:200px;
	
}
.navmain .image{
	width:30px;
	height:60px;
	float:left;
}

/* dropdown menu*/
.navmain .menubar{
	margin:0px;
	padding: 0px;
	margin-left: 70px;
	

	
}
.navmain .menubar>li{

	float:left;
	width:138px;
	margin-top:20px;
	padding-top: 10px;
	list-style: none;
	}

.navmain .menubar >li a{

	text-decoration:none;
	display: inline-block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;}
	
.navmain .menubar li a:hover{
	background: #B3B8AE;
	color:red;
	cursor: pointer;

}

.image2{
width:1250px;
height:600px;
background-image: url('imag/backimage.jpg');	
background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-top: 10px;
overflow: auto; 


}

.letter{

	color:white;
	text-align: center;
	margin-top: 100px;
	padding:100px;


}


.letter h1{
	font-size: 50px;
	letter-spacing: 1px;
	font-family: 'Pontano Sans', sans-serif;
}

.letter p{
	font-size:30px;
	letter-spacing: -1px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.image2 button{
border-color: #f15a29;
background-color: #f15a29;
border-radius: 4px;
padding: 10px;
border-style: none;
text-align: center;
text-decoration: none;
font-size: 20px;
color:white;
}

.image2 button:hover{
	background-color: #E13215;
}

.every{
	text-align: center;
	font-size:50px;
	margin-top: 50px;
	font-family: 'Open Sans Condensed', sans-serif;

}

.threepic{

	margin:0px;
	padding:0px;
}

.threepic ul{

	margin-top:30px;
	padding:0px; 
	margin-left: 340px;
}

.threepic li{
	float: left;
	margin:0px;
	padding:0px;
	position: relative;
	width:220px;
	list-style:none;
}